<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Macro per aggiungere una telecamera -->
  <xacro:macro name="add_camera" params="parent_link">
  
    
    <!-- Creazione del link fisico per la telecamera -->
    <link name="camera_link">
      <visual>
        <origin xyz="0 0 0.1" rpy="0 0 0"/>
        <geometry>
          <box size="0.05 0.05 0.05"/> <!-- Dimensioni della telecamera -->
        </geometry>
        <material name="Black"/> <!-- Colore della telecamera -->
      </visual>
    </link>

    <!-- Giunto fisso che collega la telecamera al robot -->
    <joint name="camera_joint" type="fixed">
      <parent link="${parent_link}"/>
      <child link="camera_link"/>
      <origin xyz="0 0 0.1" rpy="0 0 0"/>
    </joint>

    <!-- Proprietà del sensore per Gazebo -->
    <gazebo reference="camera_link">
      <sensor name="camera" type="camera">
        <pose>0 0 0.1 0 0 0</pose>
        <camera>
          <horizontal_fov>1.047</horizontal_fov> <!-- Campo visivo -->
          <image>
            <width>640</width>
            <height>480</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.1</near>
            <far>100</far>
          </clip>
        </camera>
        <always_on>true</always_on>
        <update_rate>30</update_rate>
        <visualize>true</visualize>
        <topic>camera</topic>
        <camera_name>arm_camera</camera_name>
        <image_topic_name>/arm/camera/image_raw</image_topic_name>
        <camera_info_topic_name>/arm/camera/camera_info</camera_info_topic_name>
      </sensor>
    </gazebo>

  </xacro:macro>

</robot>

